[submodule "VelocityServer"]
	path = VelocityServer
	url = https://github.com/PaperMC/Velocity.git
[submodule "IgniteLoader"]
	path = IgniteLoader
	url = https://github.com/Imeaces/IgniteLoader.git
[submodule "KeitaLoader"]
	path = KeitaLoader
	url = https://github.com/Imeaces/KeitaLoader.git
